/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries
*/


/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {  
  box-sizing: border-box;
}

li.active a i,
li.active a span.links_name{
  transition: all 0.5s ease;
  color: #fff;
}

.scrollto{
  position: fixed;
  bottom: 800px;
  right: 20px;
  width: 60px;
  height: 60px;
  background:  url(./assets/up-arrow.png);
  border-radius: 50%;
  background-size:  30px;
  background-position: center;
  background-repeat: no-repeat;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: 0.5s;
}
.scrollto.active {
  bottom:  40px;
  visibility: visible;
  opacity: 1;
}
.scrollto.active:hover {
  cursor: pointer;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #040b14;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  /* overflow-y: scroll; */
}
/* .sidebar::-webkit-scrollbar {
    display: none;
} */
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  color: white;
}
.sidebar.open .logo-details #btn{
  text-align: right;
  color: white;
}
.sidebar i{
  color: #8c939c;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #040b14;
}
.sidebar li a:hover{
  background: rgb(253, 210, 210);
}
.sidebar li a .links_name{
  color: #8c939c;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #040b14;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #040b14;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

#home_section {
  display: flex;
  padding: 50px 50px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./assets/back.jpg);
  /* background-repeat: no-repeat;   */  
  
}

#skills_section {
  background: #999999;
}

#edu_section {
  background: #999999;
}

#certi_section {
  background: #999999;
}
#contact_section {
    display: flex;
    padding: 50px 50px;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background: #E4E9F7;
}

footer {
  text-align: center;
  margin-top: 10px;  
  margin-bottom: 10px;
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}


@media (max-width: 600px) {
  .sidebar li .tooltip{
    display: none;
  }
  
  .sidebar .logo-details #btn {
   display: none;   
  }

  .sidebar .logo-details .logo_name {
    display: none;
  }

  .sidebar .logo-details {
    display: none;    
  }

  #contact_section {
    flex-direction: column;
  }

  .sidebar .open {
    display: none;
  }
 .sidebar {
   width: 46px;
 }
 .sidebar i {
    min-width: 20px;
}
footer {
    font-size: 13px;
}
}


