p{
    color: #fff;
    font-size: 25px;
}

.head {
    display: flex;
    flex-direction: row;
}

.head img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

h2{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.home-section p {
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.wel-buts{
    display: flex;
    flex-direction: row;
    
}
.btn:hover {
    transform: translateY(-3px);
}
.btn--bg {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    margin-top: 12vh;    
    margin-right: 20px;
}

.btn {
    background: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform .3s;
}

a {
    text-decoration: none;
    color: inherit;
}
@media (max-width: 600px) {
    .home-section p {
        font-size: 28px;
    }
    .btn--bg {
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
        margin-top: 2vh;
        margin-right: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .wel-buts{
        flex-direction: column;
    }
    p{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}