@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home-section p {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    text-align: center;
}

.head {
    display: flex;
    flex-direction: row;
    top: 0;
}

.head img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    display: block;
    
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;    
    margin-left: 2vh;
}

.home-section p {
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.wel-buts {
    display: flex;
    flex-direction: row;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn--bg {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    margin-top: 12vh;
    margin-right: 20px;
}

.btn {
    background: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform .3s;
}

.hand-wave {
    width: 70px;
    height: 70px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 605px) {
    .home-section p {
        font-size: 28px;
    }
    .hand-wave {
        width: 35px;
        height: 35px;
    }
    .btn--bg {
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
        margin-top: 2vh;
        margin-right: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .wel-buts {
        flex-direction: column;
    }

    p {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}