* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ::selection {
    user-select: none;
} */

:root {
    --primary-color: #00ffc8;
    --secondary-color: #6b6b6b;
    --third-color: #fff;
    --fourth-color: #eee;
    --five-color: #ccc;
    --six-color: #0d0c22;
    --white-light-color: #f3f2f2;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

ol li, ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
#projects_section .text {
    padding-left: 20px;
    padding-top: 20px;

    font-size: 5vh;
}
#certi_section .text {
    padding-left: 20px;
    padding-top: 20px;

    font-size: 5vh;
}
#contactheader .text {
    padding-left: 20px;
    padding-top: 20px;

    font-size: 5vh;
}
@media (max-width: 605px) {
    

    #projects_section .text {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 25px;
    }
    #certi_section .text {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 25px;
    }
    #contactheader .text {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 25px;
    }
}

.container-fluid {
    width: 100%;
    padding: 0px 2px;
    margin: 0 auto;
    padding-top: 0  ;
}

.filterbox {
    padding: 0px 108px;
}

.filter-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0 35px;
}

.navigation a {
    margin-right: 5px;
    padding: 9px 25px;
    text-decoration: none;
    border-radius: 6px;
    color: var(--secondary-color);
    transition: all .5s;
    color: var(--light);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: normal;
}
/* img {
    position: relative;
    overflow: hidden;
    /* width: 250px;      */
    /* height: 250px; */
/* } */ 
.navigation a:hover {
    color: black;
    background-color: var(--primary-color);
}

.navigation a.active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.main-wrap.wrap-inner {
    padding: 0px;
}

.main-wrap {
    padding: 32px 0px 40px;
    width: 100%;
    box-sizing: border-box;
}

#content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}

#main.main-full {
    float: none;
    width: none;
    max-width: none;
}

ol.content {
    margin: 0 auto;
}

.content {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 36px;
}
.common {
    cursor: pointer;
    box-shadow: 0px 12px 16px #36363624;
    padding: 20px;
    border-radius: 8px;
}
.common:hover{
    /* box-shadow: none; */
    padding: 20px;

}
.multi-shot {
    position: relative;
    transition: 3s all;
}

.dribble-link {
    position: relative;
}

.dribble-img img {
    border-radius: 6px;
}

.dribble-over {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.04);
    height: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--third-color);
    opacity: 0;
    transition: 0.3s all;
}

.hover-text {
    padding: 10px;
    display: block;
    position: absolute;
    bottom: 0.1px;
    font-weight: 500;
    background-image: linear-gradient(180deg, rgba(60, 55, 106, .03) 8.5%, rgba(0, 0, 0, .45) 82.4%);
    width: 100%;
    border-radius: 5px;
}

.multi-shot:hover .dribble-over {
    opacity: 1;
}

.dribble-over .icons {
    position: absolute;
    bottom: 8px;
    right: 12px;
}



.dribble-title h3 {
    font-size: 13px;
    color: var(--six-color);
    font-weight: 500;
}

.dribble-title .m-team {
    padding: 0 4px;
    color: var(--third-color);
    background-color: var(--five-color);
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: 0.4px;
}

.comment {
    float: right;
}

.comment i {
    color: var(--five-color);
    padding: 5px;
}

.comment i:hover{
    color: var(--primary-color);
}

@media (max-width: 1200px) {
    .filterbox {
        padding: 0px 40px;
    }
}

@media (max-width: 992px) {
    .filterbox {
        padding: 0px 15px;
    }

    .content {
        grid-gap: 12px;
    }

    .navigation a {
        padding: 9px 12px;
    }
}

@media (max-width: 767px) {
    .shot-thumbnail {
        margin-top: 20px;
    }

    .filter-tabs {
        flex-wrap: wrap;
    }

    .filter-sort {
        width: 100%;
    }

    .navigation {
        display: flex;
        overflow-x: scroll;
        margin-top: 15px;
        padding-left: 6.5vh;
        padding-bottom: 15px;
    }

    .navigation::-webkit-scrollbar {
        width: 10px;
        width: 6px;
    }

    .navigation::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .navigation::-webkit-scrollbar-thumb {
        background: #888;
    }
}

@media (max-width: 576px) {
    .px-0 {
        padding: 0;
    }
}